package foo

import "templ_workout/views/layouts"

templ Index() {
	@layouts.App(false) {
		<div class="bg-red-600">Delay</div>
		<h1>One step behind</h1>
		<button>It's almost insta but it's not</button>
		<h1>Its all abou that baze</h1>
		<p style="color:red;">
			go trouble
			save, boom its there!	
		</p>
	}
}
