package foo

import (
	"templ_workout/internals/models"
	"templ_workout/views/layouts"
)

templ Moo(users []models.UserDTO) {
	@layouts.App() {
		<details>
			<summary>
				<h6>Whats up?</h6>
			</summary>
			<p>Not much?</p>
		</details>
	}
}
