package foo

import "templ_workout/internals/models"

templ UserContainer(user models.User) {
	<div class="stats shadow user-container">
		<div class="stat">
			<div class="stat-title">User Info</div>
			<div class="stat-value">{ user.Name }</div>
			<div class="stat-desc">{ user.Email }</div>
			<button class="btn btn-error" data-email={ user.Email } onclick="deleteUser(event)">Delete</button>
		</div>
	</div>
}
