package layouts

import "templ_workout/internals/auth"

templ Nav() {
<div class="navbar bg-base-100 shadow-sm sticky top-0  backdrop-blur bg-base-100/70">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-3xl font-bold	 go-color">
      <div class="logo-flare"></div>
      GOSTAR
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      if auth.IsLoggedIn(ctx) {
      <li><a href="/protected">Protected Route</a></li>
      <li><a href="/logout">Logout</a></li>
      } else {
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      }
      <li>
        <details>
          <summary>Docs</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a href="/docs">Usage</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
}